.pbb-header {
    padding: 3px;
    background-color: #008080;
    color: #FFF;
}

.w-100 {
    width: 100%;
    max-width: 100%;
}

.mb5 {
    margin-bottom: 5px;
}

ion-avatar {
    max-width: 32px;
    max-height: 32px;
}