<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">
        <ion-icon name="close-outline" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-card>
    <ion-card-content>
      <h5 class="bold">Jenis Pelayanan</h5>
      <p>{{jenis_pelayanan}}</p>
      <div class="mb-8"></div>
      <h5 class="bold">No.Booking</h5>
      <p>{{no_booking}}</p>
      <div class="mb-8"></div>
      <h5 class="bold">Tanggal Booking</h5>
      <p>{{tgl_booking}}</p>
      <div class="mb-8"></div>
      <h5 class="bold">Nop</h5>
      <p>{{nop}}</p>
      <div class="mb-8"></div>
      <h5 class="bold">Nama Wajib Pajak</h5>
      <p>{{nama_wp}}</p>
      <div class="mb-8"></div>
      <h5 class="bold">No Pelayanan</h5>
      <p>{{no_pelayanan}}</p>
      <div class="mb-8"></div>
      <h5 class="bold">Tahun Pelayanan</h5>
      <p>{{thn_pelayanan}}</p>
      <div class="mb-8"></div>
      <h5 class="bold">Tanggal Retrieve</h5>
      <p>{{tgl_retrieve}}</p>
      <div class="mb-8"></div>
      <h5 class="bold">Tanggal Terima Berkas</h5>
      <p>{{tgl_terima_berkas}}</p>
      <div class="mb-8"></div>
      <h5 class="bold">Tanggal Validasi</h5>
      <p>{{tgl_validasi}}</p>
      <div class="mb-8"></div>
      <h5 class="bold">Tanggal Diserahkan</h5>
      <p>{{tgl_diserahkan}}</p>
      <div class="mb-8"></div>
      <h5 class="bold">Tanggal Approve BPN</h5>
      <p>{{tgl_approve_bpn}}</p>
      <div class="mb-8"></div>
      <h5 class="bold">Tanggal Selesai BPN</h5>
      <p>{{tgl_selesai_bpn}}</p>
      <div class="mb-8"></div>
      <h5 class="bold">Keterangan</h5>
      <p>{{keterangan}}</p>
      <div class="mb-8"></div>
    </ion-card-content>
  </ion-card>
</ion-content>