ion-input {
  font-size: 12px;
  text-align: center;
}

.sc-ion-input-md-h {
  --padding-top: 10px;
  --padding-end: 0;
  --padding-bottom: 10px;
  --padding-start: 0px;
}

ion-item {
  --padding-start: 0px;
  --inner-padding-end: 0px;
}

.dashed-bg {
  background: #ffffff;
  padding: 5px;
  margin: 8px;
}